# Project Week 2: The quality of air in Barcelona (november 2017)

....

In [1]:
import pandas as pd
import os

In [2]:
#I get the path of my current directory
os.getcwd()

'/Users/lauratll/Documents/Data_Analysis/IronHack/Week_2/Project_week2/Project-Week-2-Barcelona/your-project'

In [3]:
#I navigate to the data folder to access to the data set
os.chdir('data/')

In [4]:
qair = pd.read_csv("air-quality-nov-2017.csv")

In [5]:
qair.head()

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,NaN,NaN,NaN,0h,Good,84.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,0h,Moderate,113.0,0h,Good,36.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,0h,Good,73.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
3,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,2.0,0h,Good,86.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
4,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,7.0,0h,Good,69.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104

In [6]:
qair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5744 entries, 0 to 5743
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Station       5744 non-null   object
 1   Air Quality   5744 non-null   object
 2   Longitude     5744 non-null   float64
 3   Latitude      5744 non-null   float64
 4   O3 Hour       4268 non-null   object
 5   O3 Quality    4268 non-null   object
 6   O3 Value      4101 non-null   float64
 7   NO2 Hour      5689 non-null   object
 8   NO2 Quality   5689 non-null   object
 9   NO2 Value     5460 non-null   float64
 10  PM10 Hour     3722 non-null   object
 11  PM10 Quality  3722 non-null   object
 12  PM10 Value    3647 non-null   float64
 13  Generated     5744 non-null   object
 14  Date Time     5744 non-null   int64
dtypes: float64(5), int64(1), object(9)
memory usage: 673.2+ KB

In [7]:
qair.describe()

,Longitude,Latitude,O3 Value,NO2 Value,PM10 Value,Date Time
count,5744.00000,5744.000000,4101.000000,5460.000000,3647.000000,5.744000e+03
mean,2.15240,13877.827714,34.082907,35.740293,16.590074,1.542323e+09
std,0.02859,74410.803168,22.960687,22.357262,8.065424,7.483961e+05
min,2.11510,41.378800,1.000000,1.000000,2.000000,1.541027e+09
25%,2.13080,41.386400,14.000000,17.000000,10.000000,1.541675e+09
50%,2.15070,41.398700,34.000000,33.000000,15.000000,1.542325e+09
75%,2.16220,41.418300,52.000000,52.000000,22.000000,1.542971e+09
max,2.20450,414261.000000,100.000000,117.000000,44.000000,1.543616e+09