<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview-of-the-clean-data" data-toc-modified-id="Overview-of-the-clean-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview of the clean data</a></span></li><li><span><a href="#Understanding-the-pollutants-values" data-toc-modified-id="Understanding-the-pollutants-values-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Understanding the pollutants values</a></span><ul class="toc-item"><li><span><a href="#How-are-the-pollutants-behaving?" data-toc-modified-id="How-are-the-pollutants-behaving?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>How are the pollutants behaving?</a></span></li></ul></li><li><span><a href="#Relationship-between-pollutants" data-toc-modified-id="Relationship-between-pollutants-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Relationship between pollutants</a></span></li></ul></div>

# Air quality in Barcelona in November 2018

## Overview of the clean data

In [141]:
import pandas as pd
import numpy as np

In [142]:
air_quality= pd.read_csv("data/air_quality_bcn_18_clean.csv",index_col=0)

In [143]:
air_quality.head(10)

,Station,Air Quality,O3 Quality,O3 µg/m3,NO2 Quality,NO2 µg/m3,PM10 Quality,PM10 µg/m3,Date Time,Generated Date,Generated Time,Week Day
0,Sants,Good,NaN,NaN,Good,84.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
1,Eixample,Moderate,Good,1.0,Moderate,113.0,Good,36.0,1541027104,01/11/18,0:00,Thursday
2,Gràcia,Good,Good,10.0,Good,73.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
3,Ciutadella,Good,Good,2.0,Good,86.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
4,Vall Hebron,Good,Good,7.0,Good,69.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
5,Palau Reial,Good,Good,11.0,Good,57.0,Good,23.0,1541027104,01/11/18,0:00,Thursday
6,Poblenou,Good,NaN,NaN,Good,86.0,Good,32.0,1541027104,01/11/18,0:00,Thursday
7,Observ Fabra,Good,Good,58.0,Good,3.0,Good,25.0,1541027104,01/11/18,0:00,Thursday
8,Sants,Good,NaN,NaN,Good,62.0,NaN,NaN,1541030725,01/11/18,1:00,Thursday
9,Eixample,Good,Good,6.0,Good,80.0,Good,35.0,1541030725,01/11/18,1:00,Thursday

In [144]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5744 entries, 0 to 5743
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Station         5744 non-null   object
 1   Air Quality     5583 non-null   object
 2   O3 Quality      4101 non-null   object
 3   O3 µg/m3        4101 non-null   float64
 4   NO2 Quality     5460 non-null   object
 5   NO2 µg/m3       5460 non-null   float64
 6   PM10 Quality    3647 non-null   object
 7   PM10 µg/m3      3647 non-null   float64
 8   Date Time       5744 non-null   int64
 9   Generated Date  5744 non-null   object
 10  Generated Time  5744 non-null   object
 11  Week Day        5744 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 583.4+ KB

## Understanding the pollutants values

Those three pollutants are harzous the humans and the ecoystems.

PM10 are small particulate matter (< 10 μm) that can be inhalate, such as solid or liquid particles contain in droplets (such dust, smoke, product of the reaction in the air of other pollutants...). Exposure to high concentrations of PM10 can result in a number of health impacts ranging from coughing and wheezing to asthma attacks and bronchitis to high blood pressure, heart attack, strokes and premature death.

When nitrogen is released during fuel combustion(traffic, factories) or from agriculture, it combines with oxygen atoms to create nitric oxide (NO). This further combines with oxygen to create nitrogen dioxide (NO2).
Nitrogen dioxide is an irritant gas, which at high concentrations causes inflammation of the airways.
NOx gases react to form smog and acid rain.


Tropospheric O3 (Ozone) refers to the O3 found at ground level. When Ozone is in the stratosphere it protect us from radiation but at ground level can damage vegetation at high concentrations.

The max anual average for NO2 stablished by the WHO and UE is 40 µg/m3, and the max per hour is 200 µg/m3.

The anual mean for PM10 20/40 µg/m3 and 50 µg/m3 per day.

Those are the limits for O3 per hour:
WHO AQG: 100 µg/m3
Valor objectiu UE:120 µg/m3

### How are the pollutants behaving?

1. This is the mean value per station

In [145]:
monthly_mean_x_station =air_quality.groupby(["Station"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})
monthly_mean_x_station

               O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Station
Ciutadella    25.128388  39.855920         NaN
Eixample      17.038760  56.240683   22.781337
Gràcia        26.675466  44.574534   16.815166
Observ Fabra  65.359084  11.449213   10.773449
Palau Reial   32.021398  27.974322   14.527299
Poblenou            NaN  41.161103   20.540936
Sants               NaN  36.359165         NaN
Vall Hebron   36.367089  30.812940   13.910078

We can see in this table if we compute the mean hourly mean, that some stations have no data for certain pollutant.
The station how record all of them are: **Eixample, Gràcia, Observatori Fabra, Palau Reial and Vall d'Hebron**
**We have data for NO2 from all the stations.**
**O3 has been recorded by all except for Poblenou and Sants.**
**All the stations in expection of Sants and Ciutadella have measure concentracion of PM10.**

This table (above) is explained in another questions in more detail, to compare stations.

1.The following table are some statistical descriptors for each pollution in the city. We take the mean of each pollutant of all the stations.

In [146]:
mean_x_station.describe()[["O3 µg/m3","NO2 µg/m3","PM10 µg/m3"]]

        O3 µg/m3  NO2 µg/m3  PM10 µg/m3
count   6.000000   8.000000    6.000000
mean   33.765031  36.053485   16.558044
std    16.808432  13.195656    4.455471
min    17.038760  11.449213   10.773449
25%    25.515157  30.103285   14.064383
50%    29.348432  38.107543   15.671232
75%    35.280666  42.014461   19.609493
max    65.359084  56.240683   22.781337

* O3: It ranges from 1-100 µg/m3

* NO2: It ranges from 1-117 µg/m3

* PM10: It ranges from 2-44 µg/m3

The city, having as indicators the values of this stations, has an average:

- O3 - 33,76 µg/m

- NO2 - 36,05 µg/m 	

- PM10 - 16,56 µg/m3

The O3 has a similar variability than the NO2 and they values are within the same range approximately. 

Higher concentrations of O3 and NO2 are found on average than for PM10.

The 50%/median is seems pretty similar to the mean. Seeing see I would asume that not extreme values are measured during this month.

In [147]:
monthly_mean_x_station_x_day =air_quality.groupby(["Station", "Generated Date"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})
monthly_mean_x_station_x_day

                             O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Station     Generated Date
Ciutadella  01/11/18        38.130435  29.434783         NaN
            02/11/18        17.863636  39.909091         NaN
            03/11/18        19.333333  37.666667         NaN
            04/11/18        15.826087  47.521739         NaN
            05/11/18        29.086957  44.260870         NaN
...                               ...        ...         ...
Vall Hebron 26/11/18        30.458333  25.458333    9.166667
            27/11/18        43.208333  22.208333    8.125000
            28/11/18        25.708333  34.208333   11.375000
            29/11/18        13.750000  54.791667   17.875000
            30/11/18        20.916667  38.875000   21.583333

[240 rows x 3 columns]

In [148]:
monthly_mean_x_station_x_day.describe() #the max values you can find from the average x day are high

         O3 µg/m3   NO2 µg/m3  PM10 µg/m3
count  180.000000  240.000000  156.000000
mean    33.736861   36.076939   16.453785
std     18.430812   16.129433    7.633931
min      3.409091    5.958333    2.545455
25%     19.250000   25.520833   11.239583
50%     30.270833   35.625000   14.254529
75%     44.437500   47.522257   21.096467
max     76.458333   76.666667   39.291667

In [149]:
air_quality['Generated Time'] = pd.to_datetime(air_quality['Generated Time'],format="%H:%M")

In [150]:
type(air_quality['Generated Time'])

pandas.core.series.Series

In [151]:
air_quality['Generated Time'] =air_quality['Generated Time'].dt.strftime("%H:%M")

In [136]:
mean_x_hour =air_quality.groupby(["Generated Time"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})
mean_x_hour

                 O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Time
00:00           30.257669  42.454128   16.841379
01:00           29.227778  40.691667   16.673333
02:00           30.221591  35.948498   16.852349
03:00           32.925287  30.766234   16.880000
04:00           35.517442  26.633188   16.880000
05:00           36.639535  24.672489   16.841060
06:00           36.813953  23.445415   16.723684
07:00           36.045977  24.120690   16.509804
08:00           31.903955  30.101695   16.503268
09:00           27.165714  40.145299   16.545455
10:00           25.907514  45.352174   16.248322
11:00           28.178771  43.806723   16.409091
12:00           33.207447  37.649402   16.500000
13:00           38.668750  31.590698   16.472222
14:00           43.491429  27.953390   16.651899
15:00           43.865385  28.403756   16.337838
16:00           44.450867  29.160870   16.562092
17:00           44.784431  28.429864   16.545455
18:00           41.529070  33.377193   16.597484
19:00           34.836257  41.690583   16.452703
20:00           28.912281  48.336283   16.555556
21:00           27.254438  50.098214   16.549020
22:00           27.763314  48.942222   16.503268
23:00           29.342657  45.634921   16.539474

In [137]:
mean_x_hour.describe() #average x day, interesting looking at the max average values x hour. 
#They are not so high

        O3 µg/m3  NO2 µg/m3  PM10 µg/m3
count  24.000000  24.000000   24.000000
mean   34.121313  35.808566   16.590615
std     6.073575   8.608848    0.171625
min    25.907514  23.445415   16.248322
25%    29.148904  28.423337   16.502451
50%    33.066367  34.662845   16.547237
75%    37.277653  42.792277   16.685921
max    44.784431  50.098214   16.880000

In [152]:
mean_x_day =air_quality.groupby(["Week Day"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})
mean_x_day

            O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Week Day
Friday     24.994126  42.842337   19.143590
Monday     35.658182  35.915862   16.427984
Saturday   37.701818  27.647773   14.234818
Sunday     42.215580  25.686731   11.541082
Thursday   30.610947  42.241758   18.869707
Tuesday    36.855856  33.950752   17.660338
Wednesday  33.433892  38.773427   17.319192

In [153]:
#Calculate the  mean for the pollutants for each day per station
mean_x_day_x_station =air_quality.groupby(["Week Day","Station"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})
mean_x_day_x_station

                         O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Week Day  Station
Friday    Ciutadella    15.614035  45.754386         NaN
          Eixample       8.945455  63.218182   26.200000
          Gràcia        15.128440  55.981651   22.250000
          Observ Fabra  63.981818  13.609091    9.612245
          Palau Reial   21.899160  34.621849   14.543689
          Poblenou            NaN  46.932773   24.108333
          Sants               NaN  45.065421         NaN
          Vall Hebron   24.907563  38.336134   17.229167
Monday    Ciutadella    30.095745  36.361702         NaN
          Eixample      19.341176  59.317647   22.378947
          Gràcia        29.770115  43.000000   11.166667
          Observ Fabra  65.568421  13.389474   12.273684
          Palau Reial   30.968085  31.010638   15.294737
          Poblenou            NaN  37.306818   21.000000
          Sants               NaN  36.666667         NaN
          Vall Hebron   35.884211  33.452632   12.012048
Saturday  Ciutadella    29.294737  34.663158         NaN
          Eixample      19.737500  45.437500   20.020833
          Gràcia        31.466667  34.033333   14.458333
          Observ Fabra  61.968421   8.726316   10.032258
          Palau Reial   39.252632  17.452632   13.041667
          Poblenou            NaN  34.526316   16.104167
          Sants               NaN  26.770833         NaN
          Vall Hebron   41.326316  22.726316   11.595506
Sunday    Ciutadella    30.776596  34.765957         NaN
          Eixample      24.195402  44.011494   15.768421
          Gràcia        36.704545  30.602273   10.083333
          Observ Fabra  67.968421   7.852632    8.821053
          Palau Reial   41.957447  16.808511   10.705263
          Poblenou            NaN  30.648936   13.536842
          Sants               NaN  24.929412         NaN
          Vall Hebron   49.723404  17.670213    9.242105
Thursday  Ciutadella    22.956897  41.310345         NaN
          Eixample      15.122642  62.349057   26.166667
          Gràcia        22.763158  53.903509   20.720930
          Observ Fabra  66.265487  12.973451   10.816667
          Palau Reial   25.379630  36.416667   16.504348
          Poblenou            NaN  46.906780   23.858333
          Sants               NaN  45.362069         NaN
          Vall Hebron   30.277311  39.478992   15.583333
Tuesday   Ciutadella    29.260417  37.760417         NaN
          Eixample      20.415730  53.707865   23.322917
          Gràcia        30.792683  40.365854   12.583333
          Observ Fabra  65.322917  12.104167   12.229167
          Palau Reial   33.760417  27.406250   16.197917
          Poblenou            NaN  41.296296   22.777778
          Sants               NaN  33.484211         NaN
          Vall Hebron   39.500000  29.000000   16.233333
Wednesday Ciutadella    20.195652  47.032609         NaN
          Eixample      14.295455  61.724138   23.833333
          Gràcia        23.756757  49.351351   17.916667
          Observ Fabra  66.484211  10.852632   11.614583
          Palau Reial   34.473684  29.189474   14.979167
          Poblenou            NaN  47.351064   21.241379
          Sants               NaN  38.270588         NaN
          Vall Hebron   37.516129  30.817204   15.145833

## Relationship between pollutants

In [82]:
air_quality[["O3 µg/m3","NO2 µg/m3","PM10 µg/m3"]].corr()

            O3 µg/m3  NO2 µg/m3  PM10 µg/m3
O3 µg/m3    1.000000  -0.853154   -0.373025
NO2 µg/m3  -0.853154   1.000000    0.451198
PM10 µg/m3 -0.373025   0.451198    1.000000

**NO2-O3**
There is a strong relationship between the concentration of O3 and NO3. 
When nitrogen dioxide (NO2) is present in the atmosphere it breaks with the sunlight, and the O delivered react with oxigen to create tropospheric O3. That would be a possible explanation for the negative relationship (the more O3 we encounter the less NO2.

**NO2-PM10**

The realationship between NO2 and PM10 is weak and positive. 
We could think that a relationship might be found as oxides of nitrogen (NOx=NO2 + NO) are part of the reactions given in the atmosphere that results on the formation of PM.
It can be that the relationship might be another than linear or other factors are influencing.

**O3-PM10**

Those two pollutants have a weak linear relationship. 
We would expect to have some kind of realtionship because both interact in similar reaccions in the atmosphere. 
As so many other components are part of those processes maybe this is why don't see this relantionship.