In [1]:
import numpy as np
import pandas as pd

## Clean Dataset

In [2]:
air_quality = pd.read_csv("/Users/timeisenmenger/Desktop/Ironhack /Project2/Project-Week-2-Barcelona/your-project/air_quality_bcn_18_clean.csv", index_col=0)

air_quality.head()

,Station,Air Quality,O3 Quality,O3 µg/m3,NO2 Quality,NO2 µg/m3,PM10 Quality,PM10 µg/m3,Date Time,Generated Date,Generated Time,Week Day
0,Sants,Good,NaN,NaN,Good,84.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
1,Eixample,Moderate,Good,1.0,Moderate,113.0,Good,36.0,1541027104,01/11/18,0:00,Thursday
2,Gràcia,Good,Good,10.0,Good,73.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
3,Ciutadella,Good,Good,2.0,Good,86.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
4,Vall Hebron,Good,Good,7.0,Good,69.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday

## Worst and best air quality according to station:

In [42]:
# Filtering after means from pollution values from each station:
air_quality.groupby("Station").aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})

               O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Station
Ciutadella    25.128388  39.855920         NaN
Eixample      17.038760  56.240683   22.781337
Gràcia        26.675466  44.574534   16.815166
Observ Fabra  65.359084  11.449213   10.773449
Palau Reial   32.021398  27.974322   14.527299
Poblenou            NaN  41.161103   20.540936
Sants               NaN  36.359165         NaN
Vall Hebron   36.367089  30.812940   13.910078

In [83]:
#Checking the Value Counts
air_quality["Air Quality"].value_counts()

Good        5453
Moderate     130
Name: Air Quality, dtype: int64

In [82]:
# Groupby to show the Air Quality acoording to pollution
air_quality.groupby(["Air Quality"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})

              O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Air Quality
Good         34.734735   34.80255   15.994325
Moderate      9.276190   75.11811   33.658537

In [88]:
air_quality_counts = air_quality.groupby(["Station"])["Air Quality"].value_counts()
air_quality_counts

Station       Air Quality
Ciutadella    Good           701
Eixample      Good           635
              Moderate        83
Gràcia        Good           630
              Moderate        22
Observ Fabra  Good           710
Palau Reial   Good           710
              Moderate         3
Poblenou      Good           680
              Moderate        22
Sants         Good           671
Vall Hebron   Good           716
Name: Air Quality, dtype: int64

In [81]:
good =air_quality[air_quality['Air Quality']=="Good"][["Station"]].value_counts()
moderate =air_quality[air_quality['Air Quality']=="Moderate"][["Station"]].value_counts()
mod_good= [moderate,good]
good_mod= pd.concat(mod_good, axis=1).fillna(0)
good_mod.columns= ["Moderate", "Good" ,]

good_mod

              Moderate  Good
Station
Ciutadella         0.0   701
Eixample          83.0   635
Gràcia            22.0   630
Observ Fabra       0.0   710
Palau Reial        3.0   710
Poblenou          22.0   680
Sants              0.0   671
Vall Hebron        0.0   716

In [ ]:
# Shows that Vall Hebron has the highest amount of Good Quality days. Indicator for Best Quality of all stations

# Shows that Eixample has the highest amount of just Moderate days. Indicator for worst Quality of all stations

In [3]:
#Checking for unique values:
air_quality["Air Quality"].unique()

array(['Good', 'Moderate', nan], dtype=object)

In [17]:
good = air_quality["Air Quality"] == "Good"
moderate = air_quality["Air Quality"] == "Moderate"

In [44]:
air_quality.dtypes

Station            object
Air Quality        object
O3 Quality         object
O3 µg/m3          float64
NO2 Quality        object
NO2 µg/m3         float64
PM10 Quality       object
PM10 µg/m3        float64
Date Time           int64
Generated Date     object
Generated Time     object
Week Day           object
dtype: object

# Difference Week / Weekend:

In [85]:
daily_mean = air_quality.groupby(["Generated Date","Week Day"])[["O3 µg/m3", "NO2 µg/m3", "PM10 µg/m3"]].mean()
daily_mean

                          O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Date Week Day
01/11/18       Thursday  41.779412  28.446927   16.031250
02/11/18       Thursday  28.124088  37.536723   11.114583
03/11/18       Thursday  30.036232  29.129730   11.389381
04/11/18       Thursday  36.145038  31.457627   10.016667
05/11/18       Thursday  31.992537  45.000000   21.572816
06/11/18       Thursday  42.300000  26.585106   15.061404
07/11/18       Thursday  35.648855  40.647399   10.325000
08/11/18       Thursday  25.083333  47.743017   16.200000
09/11/18       Thursday  29.661765  39.929348   20.446602
10/11/18       Thursday  42.829787  27.931217    9.583333
11/11/18       Thursday  37.798507  29.061111   13.069565
12/11/18       Thursday  33.174825  40.099476   20.141667
13/11/18       Thursday  43.893617  31.793651   28.933333
14/11/18       Thursday  42.717391  31.715084   28.491667
15/11/18       Thursday  38.408759  32.410811   22.866667
16/11/18       Thursday  24.040000  42.419162   15.867347
17/11/18       Thursday  44.727273  26.244444   21.555556
18/11/18       Thursday  56.874126  15.896739   14.658333
19/11/18       Thursday  48.525547  26.893855   15.266667
20/11/18       Thursday  25.362963  44.382514   16.483333
21/11/18       Thursday  30.830769  38.248588   14.625000
22/11/18       Thursday  31.267176  45.072626   14.208633
23/11/18       Thursday  19.514085  49.615789   20.284722
24/11/18       Thursday  33.438849  27.245989   14.395833
25/11/18       Thursday  37.291667  26.594737    8.993056
26/11/18       Thursday  28.919118  31.234286   10.580420
27/11/18       Thursday  35.395683  33.269006   10.033333
28/11/18       Thursday  24.500000  44.322581   16.000000
29/11/18       Thursday  16.728571  57.117021   24.062500
30/11/18       Thursday  23.815603  44.211640   24.652778

In [87]:
weekly_mean = daily_mean.copy()
weekly_mean = weekly_mean.reset_index()
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') &[['O3 µg/m3','NO2 µg/m3','PM10 µg/m3']].max()
weekly_mean

   Generated Date  Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
0        01/11/18  Thursday  41.779412  28.446927   16.031250
1        02/11/18  Thursday  28.124088  37.536723   11.114583
2        03/11/18  Thursday  30.036232  29.129730   11.389381
3        04/11/18  Thursday  36.145038  31.457627   10.016667
4        05/11/18  Thursday  31.992537  45.000000   21.572816
5        06/11/18  Thursday  42.300000  26.585106   15.061404
6        07/11/18  Thursday  35.648855  40.647399   10.325000
7        08/11/18  Thursday  25.083333  47.743017   16.200000
8        09/11/18  Thursday  29.661765  39.929348   20.446602
9        10/11/18  Thursday  42.829787  27.931217    9.583333
10       11/11/18  Thursday  37.798507  29.061111   13.069565
11       12/11/18  Thursday  33.174825  40.099476   20.141667
12       13/11/18  Thursday  43.893617  31.793651   28.933333
13       14/11/18  Thursday  42.717391  31.715084   28.491667
14       15/11/18  Thursday  38.408759  32.410811   22.866667
15       16/11/18  Thursday  24.040000  42.419162   15.867347
16       17/11/18  Thursday  44.727273  26.244444   21.555556
17       18/11/18  Thursday  56.874126  15.896739   14.658333
18       19/11/18  Thursday  48.525547  26.893855   15.266667
19       20/11/18  Thursday  25.362963  44.382514   16.483333
20       21/11/18  Thursday  30.830769  38.248588   14.625000
21       22/11/18  Thursday  31.267176  45.072626   14.208633
22       23/11/18  Thursday  19.514085  49.615789   20.284722
23       24/11/18  Thursday  33.438849  27.245989   14.395833
24       25/11/18  Thursday  37.291667  26.594737    8.993056
25       26/11/18  Thursday  28.919118  31.234286   10.580420
26       27/11/18  Thursday  35.395683  33.269006   10.033333
27       28/11/18  Thursday  24.500000  44.322581   16.000000
28       29/11/18  Thursday  16.728571  57.117021   24.062500
29       30/11/18  Thursday  23.815603  44.211640   24.652778